{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<div id="Success" data-shaded="True" data-backimg="{{ mainBlog.mainImage if mainBlog }}/large">
    <div class="flex col algn-cntr j-cntr txt-cntr">
        <div class="hero-heading" data-ix="hero-text">
            <h1>404!</h1>
            <img style="max-width: 100px;" src="/images/key.svg">
        </div>
        <div class="hero-subheading" data-ix="hero-text-2">
            <p>Go ahead and use the navigation above to find your way back home!</p>
            {% if error %}
                <p>{{error}}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}