{% extends 'base.html' %}


{% block page %}
<div data-textOverlay="white" data-backImg="{{ mainImage }}" class="page section blog">
    <div class="constrain">
        <div class="col-1">
            <h1>Blog</h1>
            <p>This is the blog for the website!</p>
        </div>
        <div class="blog-items flex row wrap spc-btwn">
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div class="item">
                <div class="img" data-backImg="/images/macarooncrop.jpg"></div>
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}