{% extends 'base.html' %}


{% block page %}
<div data-textOverlay="white" data-backImg="/images/macarooncrop.jpg" class="page section blog">
    <div class="constrain">
        <div class="col-1">
            <h1>Blog</h1>
            <p>This is the blog for the website!</p>
        </div>
        <div class="blog-items flex row wrap spc-btwn">
            <div data-backImg="/images/macarooncrop.jpg" class="item">
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div data-backImg="/images/cookies.jpg" class="item">
                <div class="text">
                    <h1>Cookies!</h1>
                    <p>Boy are these some cookies!</p>
                </div>
            </div>
            <div data-backImg="/images/crepe.jpg" class="item">
                <div class="text">
                    <h1>Holy Crepe!</h1>
                    <p>These are some good looking crepes!</p>
                </div>
            </div>
            <div data-backImg="/images/dough.jpg" class="item">
                <div class="text">
                    <h1>Dough!</h1>
                    <p>So fluffy you won't want to bake it!</p>
                </div>
            </div>
            <div data-backImg="/images/flan.jpg" class="item">
                <div class="text">
                    <h1>Flan!</h1>
                    <p>Flat AND tasty!</p>
                </div>
            </div>
            <div data-backImg="/images/macarooncrop.jpg" class="item">
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div data-backImg="/images/cookies.jpg" class="item">
                <div class="text">
                    <h1>Cookies!</h1>
                    <p>Boy are these some cookies!</p>
                </div>
            </div>
            <div data-backImg="/images/crepe.jpg" class="item">
                <div class="text">
                    <h1>Holy Crepe!</h1>
                    <p>These are some good looking crepes!</p>
                </div>
            </div>
            <div data-backImg="/images/dough.jpg" class="item">
                <div class="text">
                    <h1>Dough!</h1>
                    <p>So fluffy you won't want to bake it!</p>
                </div>
            </div>
            <div data-backImg="/images/flan.jpg" class="item">
                <div class="text">
                    <h1>Flan!</h1>
                    <p>Flat AND tasty!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}