{% extends "base.html" %} 

{% block head %}

{% endblock %}

{% block content %}
<div data-backimg="{{ pages['contact']['mainImage'] }}" class="hero-section">
    <div class="hero-content w-container">
        <div class="hero-heading" data-ix="hero-text">Contact Me!</div>
        <div class="hero-subheading" data-ix="hero-text-2">I'd love to hear from you!</div>
    </div>
</div>
<div class="main-section" id="contact">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6">
                <h3>Connect with Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><a class="social-text" href="http://www.twitter.com/webflowapp" target="_blank">Follow us on Twitter</a><a class="facebook social-text" href="http://www.facebook.com/webflow" target="_blank">Like us on Facebook</a><a class="instagram social-text" href="http://www.instagram.com" target="_blank">Follow us on Instagram</a></div>
            <div class="w-col w-col-6">
                <h3>Send a Request</h3>
                <div class="w-form">
                    <form class="contact-form" data-name="Email Form" id="email-form" name="email-form" action="/contact">    <label class="field-label" for="name">Name:</label>
                        <input class="contact-field w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" type="text">
                        <label class="field-label" for="email">Email Address:</label>
                        <input class="contact-field w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Enter your email address" required="required" type="email">
                        <label class="field-label" for="Message">Message:</label>
                        <textarea class="contact-field message w-input" data-name="Message" id="Message" maxlength="5000" name="Message" placeholder="Say what you need to say..."></textarea>
                        <input class="button w-button" data-wait="Please wait..." type="submit" value="Submit">
                    </form>
                    <div class="success-message w-form-done">
                        <p class="success-text">Thank you! Your submission has been received!</p>
                    </div>
                    <div class="w-form-fail">
                        <p>Oops! Something went wrong while submitting the form</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
