{% extends "base.html" %} 

{% block head %}
<script src="/js/base.js" async></script>
{% endblock %}

{% block content %}
<div data-backimg="{{ pages['contact']['mainImage'] }}" data-shaded="True" class="hero-section">
    <div class="hero-content w-container">
        <div class="hero-heading" data-ix="hero-text">Contact Me!</div>
        <div class="hero-subheading" data-ix="hero-text-2">I'd love to hear from you!</div>
    </div>
</div>
<div class="main-section" id="contact">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6">
                <h3>Connect with Us</h3>
                <p>
                Rebecca has spent 12 years baking, going through various baking books. Creating recipes, testing them, and giving her tasty creations to her family. Learning from her happy accidents she has created this blog to let everyone know that they can bake. She is always friendly and ready to help. Baking is her passion and she does not hesitate to go above and beyond for her readers. 
                <br><br>
                This is a hobby that she hopes will grow into something bigger. She has spoken to many bakers, learning from them. Her current job is at a bakery as well, here she has hands on learning and continues to grow. 
                </p>
                {% if pages['social']['twitter'] != '' %}
                <a class="social-text" href="{{  pages['social']['twitter'] }}" target="_blank">Follow us on Twitter</a>
                {% endif %}
                {% if pages['social']['facebook'] != '' %}
                <a class="facebook social-text" href="{{  pages['social']['facebook'] }}" target="_blank">Like us on Facebook</a>
                {% endif %}
                {% if pages['social']['instagram'] != '' %}
                <a class="instagram social-text" href="{{  pages['social']['instagram'] }}" target="_blank">Follow us on Instagram</a>
                {% endif %}
            </div>
            <div class="w-col w-col-6">
                <h3>Send a Request</h3>
                <div class="w-form">
                    <form class="contact-form" data-name="Email Form" id="email-form" name="email-form" method="post" action="/contact">
                        <label class="field-label" for="name">Name:</label>
                        <input class="contact-field w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" type="text">
                        <label class="field-label" for="email">Email Address:</label>
                        <input class="contact-field w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Enter your email address" required="required" type="email">
                        <label class="field-label" for="email">Subject:</label>
                        <input class="contact-field w-input" data-name="Email" id="email" maxlength="256" name="subj" placeholder="Enter your email address" required="required" type="text">
                        <label class="field-label" for="Message">Message:</label>
                        <textarea class="contact-field message w-input" data-name="Message" id="Message" maxlength="5000" name="body" placeholder="Say what you need to say..."></textarea>
                        <input class="button w-button" data-wait="Please wait..." type="submit" value="Submit">
                    </form>
                    <div class="success-message w-form-done">
                        <p class="success-text">Thank you! Your submission has been received!</p>
                    </div>
                    <div class="w-form-fail">
                        <p>Oops! Something went wrong while submitting the form</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
