{% extends 'base.html' %} 

{% block head %}
{% endblock %} 
{% block content %}
<div id="Dashboard" data-textOverlay="white" data-backImg="{{ mainImage }}" data-shaded="True" class="page section">
    <div id="{{ currentTabs[-1] }}" class="dashboard col-1">
        <div class="w-container head flex row wrap algn-cntr">
            <div class="dashNav mar">
                {% if 'dashboard' in currentTabs[-1] %}
                <p class="mar"><b>Welcome back, {{username}}!</b><br> What would you like to do today?<br><br></p>
                <a href="/dashboard/blog" class="{{'active ' if 'blog' in navTab}} button">Blog</a>
                <a href="/dashboard/file" class="{{'active ' if 'file' in navTab}} button">File Upload</a> 
                <a href="/dashboard/author" class="{{'active ' if 'author' in navTab}} button">Author Details</a> 
                {% elif 'blog' in currentTabs[-1] %}
                <a href="/dashboard" class="button">&lt; Back</a>
                <a href="/dashboard/blog" class="{{'active ' if 'blog' in navTab}} button">Blog</a>
                <a href="/dashboard/blog/add" class="button">Add</a> 
                {% elif 'blog' in navTab and ('add' in currentTabs[-1] or 'edit' in currentTabs[-2]) %}
                <a href="/dashboard/blog" class="button">&lt; Back</a>
                <a href="/dashboard/blog" class="{{'active ' if 'blog' in navTab}} button hidden">Blog</a> 
                {% elif 'image' in currentTabs[-1] %}
                <a href="/dashboard" class="button">&lt; Back</a>
                <a href="/dashboard/image/add" class="button">Add</a> 
                {% elif 'file' in currentTabs[-1] %}
                <a href="/dashboard" class="button">&lt; Back</a>
                <a href="/dashboard/file" class="{{'active ' if 'file' in navTab}} button hidden">File Upload</a>
                <a href="/dashboard/file/add" class="button">Add</a> 
                {% elif 'file' in navTab and 'add' in currentTabs[-1] %}
                <a href="{{ navTab.replace('/add', '') }}" class="button">&lt; Back</a>
                <a href="/dashboard/file" class="{{'active ' if 'file' in navTab}} button hidden">File Upload</a> 
                {% elif 'author' in navTab %}
                <a href="{{ navTab.replace('/author', '') }}" class="button">&lt; Back</a>
                <a href="/dashboard/author" class="{{'active ' if 'author' in navTab}} button hidden">Author</a> 
                {% else %}
                <a href="/dashboard" class="button">&lt; Back</a>
                <a href="/dashboard/blog" class="{{'active ' if 'blog' in navTab}} button hidden">Blog</a>
                <a href="/dashboard/file" class="{{'active ' if 'file' in navTab}} button hidden">File Upload</a> 
                {% endif %}
            </div>
        </div>
        <div class="w-container content flex col">
            {% if 'blog' in navTab and 'edit' in currentTabs[-2] %}
            <p>Status: Editing Blog entry {{ bid }}</p>
            {% elif 'blog' in navTab and 'add' in currentTabs[-1] %}
            <p>Status: Creating blog post</p>
            {% endif %}
            
            {% if 'dashboard' not in currentTabs[-1] %}
            <div class="file-con">
                {% if 'blog' in navTab and ('add' in navTab or 'edit' in navTab) %}
                <form method="post" enctype="multipart/form-data">
                    
                    {% if error %}
                    <p class="error">{{ error }}</p>
                    {% endif %} 
                    
                    {% if files %}
                    <div id="BlogFileSel" class="file-con flex row no-wrap spc-arnd">
                        <input id="mainImage" type="hidden" name="mainImage" value="{{ blog.mainImage if blog }}" /> 
                        {% for item in files %}
                        <div class="t item" {{ (' data-active="true" ' if blog.mainImage == item.orImg) if blog }}>
                            <a href="{{ item.orImg }}">
                                <div class="img" style="background-image: url('{{ item.orImg }}');">
                                </div>
                            </a>
                            <div class="t button-con flex row wrap">
                                <div class="t button" data-clipboard="{{ item.orImg }}">http:&#47;&#47;</div>
                                <div class="t button" data-clipboard="<img src='{{ item.orImg }}/small'>">&lt;img&#47;&gt;</div>
                                <div class="t button" data-mainassignblog="{{ item.orImg }}">Main</div>
                            </div>
                            <div class="t status"></div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <div>
                        <label>Title:</label>
                        <input type="text" name="Title" value="{{ blog.title if blog }}">
                    </div>
                    <div>
                        <label>Summary:</label>
                        <h6 class="nm">Used for blog summary and SEO</h6>
                        <input type="text" name="Summary" maxlength="160" value="{{ blog.summary if blog }}">
                    </div>
                    <div>
                        <label>Content:</label>
                        <textarea name="Content">{{ blog.content if blog }}</textarea>
                    </div>
                    <div>
                        <label>Recipe:</label>
                        <textarea name="Recipe">{{ blog.recipe if blog }}</textarea>
                    </div>
                    <input class="fr button" type=submit>
                </form>
                
                {% elif 'blog' in currentTabs[-1] %}
                <div class="file-con">
                    <div class="table flex col fw no-wrap">
                        <div class="th flex row">
                            <div>Title</div>
                            <div>Date</div>
                            <div>Author</div>
                            <div class="mal">Edit</div>
                            <div>Delete</div>
                        </div>
                        {% for blog in blogs %}
                        <div class="tr flex row">
                            <div>{{ blog.title[:40] }}</div>
                            <div>{{ blog.created.strftime('%m-%d-%Y') }}</div>
                            <div>{{ blog.author }}</div>
                            <div class="mal"><a href="/dashboard/blog/edit/{{ blog.key().id() }}">Edit</a></div>
                            <div><a href="/dashboard/blog/delete/{{ blog.key().id() }}">Delete</a></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                {% elif 'file' in navTab and 'add' in navTab %}
                <form id="FileUploadForm" method="post">
                    <input id="fileUpload" type="file" name="files[]" multiple>
                    <p class="status"></p>
                </form>
                <div class="status"></div>
                <div class="upload-con"></div>
                {% elif 'file' in currentTabs[-1] %} 
                    {% if files %}
                    <div class="file-con flex row wrap spc-arnd">
                        {% for item in files %}
                        <div class="t item">
                            <a href="{{ item.orImg }}">
                                <div class="img" style="background-image: url('{{ item.orImg }}/blur');">
                                </div>
                            </a>
                            <div class="t button-con flex row wrap">
                                <div class="t button" data-clipboard="{{ item.orImg }}/small">http:&#47;&#47;</div>
                                <div class="t button" data-clipboard="<img src='{{ item.orImg }}/small'>">&lt;img&#47;&gt;</div>
                                <div class="t button" data-deleteURL="{{ item.deleteUrl }}">Delete</div>
                                <div class="t button" data-mainassign="{{ item.mainAssign }}/large">Main</div>
                            </div>
                            <div class="t status"></div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% elif 'author' in navTab %} 
                {% if files %}
                <div class="file-con flex row wrap spc-arnd">
                    <form name="author" method="post">
                        <div id="BlogFileSel" class="file-con flex row no-wrap spc-arnd">
                            <input id="mainImage" type="hidden" name="image" value="{{ author.image if blog }}" /> 
                            {% for item in files %}
                            <div class="t item" {{ (' data-active="true" ' if blog.mainImage == item.orImg) if blog }}>
                                <a href="{{ item.orImg }}">
                                    <div class="img" style="background-image: url('{{ item.orImg }}/blur');">
                                    </div>
                                </a>
                                <div class="t button-con flex row wrap">
                                    <div class="t button" data-clipboard="{{ item.orImg }}/small">http:&#47;&#47;</div>
                                    <div class="t button" data-clipboard="<img src='{{ item.orImg }}/small'>">&lt;img&#47;&gt;</div>
                                    <div class="t button" data-mainassignblog="{{ item.orImg }}/large">Main</div>
                                </div>
                                <div class="t status"></div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %} 
                        {% if error %}
                        <p class="error">{{ error }}</p>
                        {% endif %}
                        <label>Name:</label>
                        <input type="text" name="name" value="{{ author.name }}">
                        <label>Description:</label>
                        <textarea name="desc" class="textarea-small">{{ author.desc }}</textarea>
                        <input class="button" type="submit">
                    </form>
                </div>
                {% else %}
                <p>SOMETHING IS FUCKY</p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
