{% extends "base.html" %}

{% block head %}
<script src="/js/base.js" async></script>
<meta name="description" content="{{ blog.summary }}">
<meta name="keyword" content="{{ keywords }}">
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=244869702232122";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div data-backimg="{{ blog.mainImage }}/med" data-shaded="True" class="hero-blog" data-w-expand="category"></div>
<div class="main-section">
    <div class="blog-con w-container">
        <div class="section-heading">
            <h1 class="blog-post-title">{{ blog.title }}</h1>
            <div class="blog-date">{{ blog.created.strftime("%m-%d-%y") }}</div>
            <div class="full-divide"></div>
        </div>
        <div id="Recipe" class="t">
            <div id="RecipeButton" class="button">Recipe</div>
            <div class="t content">
                <div id="RecipeCloseButton" class="button">X</div>
                <p>{{ blog.recipe|safe }}</p>
            </div>
        </div>
        <div class="blog-post w-richtext">{{ blog.content }}</div>
        <div>
            <div class="full-divide"></div>
            <div class="author-wrapper">
                <a class="author-link w-inline-block" data-w-expand="authors">
                    <img src="{{ author.image }}/blur" class="author-photo" data-w-expand="authors" sizes="100px">
                </a>
                <a class="author-name" data-w-expand="authors">{{ author.name }}</a>
                <div class="smallest-divider"></div>
                <div class="author-bio w-richtext" data-w-expand="authors">
                    {{ author.desc}}
                </div>
                {% if social %}
                <div>
                    {% if social.twitter != "" %}
                    <a class="social-link w-inline-block" data-w-expand="authors" href="{{ social.twitter }}"><img src="/images/social-18.svg"></a>
                    {% endif %}
                    {% if social.instagram != "" %}
                    <a class="social-link w-inline-block" data-w-expand="authors" href="{{ social.instagram }}"><img src="/images/social-07.svg"></a>
                    {% endif %}
                    {% if social.facebook != "" %}
                    <a class="social-link w-inline-block" data-w-expand="authors" href="{{ social.facebook }}"><img src="/images/social-03.svg"></a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="gray main-section">
    <div class="w-container">
        <div class="section-heading">
            <h2>Related Posts</h2>
            <div class="med-divider"></div>
        </div>
        <div class="w-dyn-list">
            {% if blogs %}
            <div class="w-clearfix w-dyn-items w-row">
                {% for blog in blogs %}
                <div class="blog-thumbnail w-col w-col-3 w-dyn-item">
                    <a href="/blog/{{ blog.key().id() }}" class="thumbnail-wrapper w-inline-block" data-ix="blog-thumbnail">
                        <div class="image-wrapper">
                            <div data-backimg="{{ blog.mainImage }}/small" class="thumbnail-image"></div>
                        </div>
                        <div class="thumbnail-text">
                            <div class="blog-title">{{ blog.title }}</div>
                            <div class="preview-text">{{ blog.summary }}</div>
                        </div>
                        <div class="thumb-details w-clearfix"><img src="{{ author.image }}/blur" class="author-img" sizes="(max-width: 767px) 26px, (max-width: 991px) 3vw, 26px">
                            <div class="author-title">{{ author.name }}</div>
                            <div class="thumbnail-date">{{ blog.views }}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="w-dyn-empty">
                <p>No items found.</p>
            </div>
            {% endif %}
        </div>
        <div class="fb-comments" data-href="{{ currenturl }}" data-width="100%" data-numposts="5"></div>
    </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5973bc32dd739338"></script>
{% endblock %}
