{% extends 'base.html' %}

{% block page %}
<div class="constrain page flex col j-cntr algn-cntr">
    <div data-textOverlay="white" data-backImg="/images/macarooncrop.jpg" class="title section fh"></div>
    <div data-textOverlay="white" data-backCol="#b07cf7" class="constrain blog section">
        <h1>Blog</h1>
        <p>This is the blog for the website!</p>
    </div>
    <div data-textOverlay="black" class="constrain sub section fh">
        <h1>Subscribe!</h1>
        <p>Click the below bullshit to subscribe!</p>
    </div>
    <div data-textOverlay="black" data-backCol="#ffe92f" class="constrain gallery section">
        <h1>Gallery</h1>
        <p>Images images images</p>
    </div>
    <div data-textOverlay="white" data-backCol="#00b1b0" class="constrain about section fh"></div>
</div>
{% endblock %}