{% extends 'base.html' %}

{% block page %}
<div class="constrain page flex col j-cntr algn-cntr">
    <div data-textOverlay="white" data-backImg="{{ mainImage }}" class="title constrain section fh">
        <div class="text">
            <h1>Macaroons!</h1>
            <p>I made some macaroons and they look good!</p>
            <div class="button">Read more!</div>
        </div>
    </div>
    <div data-textOverlay="white" data-backCol="#5c69b4" class="constrain blog section flex row wrap spc-btwn">
        <div class="col-1">
            <h1>Blog</h1>
            <p>This is the blog for the website!</p>
        </div>
        <div class="blog-items flex row wrap spc-btwn">
            <div data-backImg="/images/macarooncrop.jpg" class="item">
                <div class="text">
                    <h1>Macaroons!</h1>
                    <p>I made macaroons and they look good!</p>
                </div>
            </div>
            <div data-backImg="/images/cookies.jpg" class="item">
                <div class="text">
                    <h1>Cookies!</h1>
                    <p>Boy are these some cookies!</p>
                </div>
            </div>
            <div data-backImg="/images/crepe.jpg" class="item">
                <div class="text">
                    <h1>Holy Crepe!</h1>
                    <p>These are some good looking crepes!</p>
                </div>
            </div>
            <div data-backImg="/images/dough.jpg" class="item">
                <div class="text">
                    <h1>Dough!</h1>
                    <p>So fluffy you won't want to bake it!</p>
                </div>
            </div>
            <div data-backImg="/images/flan.jpg" class="item">
                <div class="text">
                    <h1>Flan!</h1>
                    <p>Flat AND tasty!</p>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="button">View more!</div>
        </div>
    </div>
    <div data-textOverlay="black" class="constrain sub section">
        <h1>Subscribe!</h1>
        <p>Fill out the form below to subscribe!</p>
        <form method="post" class="flex col no-wrap">
            <label>
                Name:
                <input type="text" placeholder="name">
            </label>
            <label>
                Email:
                <input class="col-2" type="email" placeholder="Foooooood@themisadventuresofbaking.com">
            </label>
            <input class="submit" type="submit">
        </form>
    </div>
    <div data-textOverlay="black" data-backCol="#ffe92f" class="constrain gallery section">
        <h1>Gallery</h1>
        <p>Images images images</p>
        <div class="images-con flex row wrap">
            <div class="item" data-backImg="/images/cookies.jpg"></div>
            <div class="item" data-backImg="/images/crepe.jpg"></div>
            <div class="item" data-backImg="/images/dough.jpg"></div>
            <div class="item" data-backImg="/images/flan.jpg"></div>
            <div class="item" data-backImg="/images/macaroon.jpg"></div>
            <div class="item" data-backImg="/images/potates.jpg"></div>
        </div>
    </div> 
    <div data-textOverlay="white" data-backCol="#00b1b0" class="constrain about section">
        <h1>About</h1>
        <p>My name is Rebecca, and I grew up watching my mom bake different types of cakes, and was fascinated by the art of baking even then. When I was old enough I was finally allowed to help in the kitchen. We used to make cake mixes, and her only recipe from scratch was pound cake, her specialty. As I grew older, I wondered what other items I could make from scratch. My mom wasn't too baking savvy and so I pursued this endeavor on my own. Soon I was baking cakes, custards, macarons, sugar cookies, and much more. I watched youtube videos I began perfecting my art. Now years later I may not be perfect, but I'm getting closer day by day. The kitchen is my home, and baking is my art. I bake desserts as well as food: roasted chicken, spinach dip, there isn't anything I don't try to do. The Misadventures of Baking blog began because I mess up a lot, but I succeed even more. No one baker/chef/culinary artist is the same, only through trial and error do we achieve the greatest success. 
        <b>Welcome to the Misadventures of Baking.</b></p>
    </div>
</div>
{% endblock %}