{% extends "base.html" %}

{% block page %}
<div data-textOverlay="white" data-backImg="{{ mainImage }}" class="page section modal-back">
    <div class="modal-back txt-cntr">
        <h3>Register</h3>
        <form method="post" class="register flex col no-wrap" name="login">
            <label>User</label>
            <input name="user" type="text">
            <label>Password</label>
            <input name="password" type="password">
            <label>Verify Password</label>
            <input name="vPassword" type="password">
            <input type="submit" value="Register">
            <p>{{error}}</p>
        </form>
    </div>
</div>
{% endblock %}